@import '../../../styles/variables.module.scss';
@import '../../../styles/mixin.scss';

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

  @include mobile {
    padding-bottom: 10px;
  }

  .item {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bcbcbc-color;
    border: 1px solid $bcbcbc-color;
    border-radius: 6px;
    cursor: pointer;
    background: $secondary-color;
    transition: all 0.3s ease-out;

    @include mobile {
      height: 35px;
      width: 35px;
    }

    &:hover div {
      &.imgPrev,
      &.imgNext {
        background: url('/chevron-left.png') center center no-repeat;
      }

      &.imgLast,
      &.imgFirst {
        background: url('/chevrons-left.png') center center no-repeat;
      }
    }

    div {
      transition: all 0.3s ease-out;
      height: 24px;
      width: 24px;

      &.imgPrev,
      &.imgNext {
        transition: all 0.3s ease-out;
        background: url('/chevron-left-d.png') center center no-repeat;
      }

      &.imgLast,
      &.imgFirst {
        transition: all 0.3s ease-out;
        background: url('/chevrons-left-d.png') center center no-repeat;
      }

      &.imgNext,
      &.imgLast {
        transform: rotate(180deg);
      }
    }

    &.disabled {
      cursor: not-allowed;
    }

    &.active,
    &:hover {
      color: $primary-color;
      border: 1px solid $primary-color;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @include mobile {
        margin-right: 10px;
      }
    }
  }
}
