@import '../../../styles/variables.module.scss';
@import '../../../styles/mixin.scss';


.productsList {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 25px;
  row-gap: 50px;

  @include mobile {
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 10px;
  }


  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 87px;
  }
}
