@import '../../styles/mixin.scss';

.container {
  margin: 0 auto;
  width: 100%;

  @include tablet {
    width: calc(100% - 100px);
  }

  @include mobile {
    width: calc(100% - 20px);
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
  }

  @media (min-width: 1920px) {
    max-width: 1680px;
  }
}
