@import '../../../styles/variables.module.scss';
@import '../../../styles/mixin.scss';

.selectInput {
  border-radius: 8px;
  height: 46px;
  width: 350px;
  font-size: $dbody-3;
  padding: 0 16px;
  transition: 0.3s all ease-in;

  border: 1px solid $bcbcbc-color;

  &:hover {
    border: 1px solid $primary-color;
  }

  &:disabled {
    border: 1px solid $bcbcbc-color;
  }

  &:focus {
    border: 1px solid $primary-color;
  }

  @include tablet {
    font-size: $tbody-3;
  }

  @include mobile {
    height: 40px;
    font-size: $mbody-3;
  }

  &[error] {
    border: 1px solid $ff0000-color;
  }
}
