$primary-color: black;
$secondary-color: white;
$fafafa-color: #fafafa;
$de3e4e-color: #dee3e3;
$bcbcbc-color: #bcbcbc;
$ff0000-color: #ff0000;

$dheading-h1: 44px;
$dheading-h2: 40px;
$dheading-h3: 36px;
$dheading-h4: 32px;
$dheading-h5: 28px;
$dheading-h6: 24px;
$dbody-1: 22px;
$dbody-2: 20px;
$dbody-3: 18px;
$dbody-4: 16px;
$dbody-5: 14px;

$theading-h1: 42px;
$theading-h2: 38px;
$theading-h3: 34px;
$theading-h4: 30px;
$theading-h5: 28px;
$theading-h6: 20px;
$tbody-1: 20px;
$tbody-2: 18px;
$tbody-3: 16px;
$tbody-4: 14px;
$tbody-5: 12px;

$mheading-h1: 38px;
$mheading-h2: 34px;
$mheading-h3: 30px;
$mheading-h4: 26px;
$mheading-h5: 22px;
$mheading-h6: 18px;
$mbody-1: 16px;
$mbody-2: 14px;
$mbody-3: 12px;
$mbody-4: 10px;
$mbody-5: 8px;