@import '../../../styles/variables.module.scss';
@import '../../../styles/mixin.scss';

.productDetail {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include mobile {
    padding: 10px 0;
    grid-template-columns: unset;
    row-gap: 10px;
  }

  @include tablet {
    column-gap: 30px;
    grid-template-columns: 400px auto;
  }

  .image {
    @include mobile {
      padding: 10px;
      margin: auto;
    }

    img {
      object-fit: cover;
      width: 100%;

      @include mobile {
        width: 250px;
        height: 250px;
      }
    }
  }

  .info {
    width: 100%;
    padding: 0 10px;

    h5 {
      height: 33px;
      display: flex;
      align-items: center;

      @include mobile {
        height: 26px;
      }
    }

    h4 {
      height: 38px;
      display: flex;
      align-items: center;
      text-transform: capitalize;

      @include tablet {
        height: 35px;
      }

      @include mobile {
        height: 30px;
      }
    }
  }

  .divider {
    border-bottom: 1px solid $de3e4e-color;
    margin: 20px 0;

    @include tablet-mobile {
      margin: 15px 0;
    }
  }

  .wrapperBtn {
    margin-top: 20px;

    @include tablet-mobile {
      margin-top: 15px;
    }
  }
}
