@import '../../../styles/variables.module.scss';
@import '../../../styles/mixin.scss';

.sliderInput {
  border-radius: 8px;
  height: 46px;
  min-width: 350px;
  font-size: $dbody-3;
  transition: 0.3s all ease-in;
  position: relative;
  margin-bottom: 30px;


  .min,
  .max {
    position: absolute;
    bottom: -10px
  }

  .min {
    left: -20px;

  }

  .max {
    right: -20px;

  }



  // &:hover {
  //   border: 1px solid $primary-color;
  // }

  // &:disabled {
  //   border: 1px solid $bcbcbc-color;
  // }

  // &:focus {
  //   border: 1px solid $primary-color;
  // }


  // @include tablet {
  //   font-size: $tbody-3;
  // }

  // @include mobile {
  //   height: 40px;
  //   width: 353;
  //   font-size: $mbody-3;
  // }
}
