@import '../../../styles/variables.module.scss';
@import '../../../styles/mixin.scss';


.wrapperBreadcrumb {
  margin-top: 100px;
  background: $fafafa-color;

  @include mobile {
    margin-top: 80px;
  }

  nav {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      height: 40px;
    }

    ol {
      display: flex;

      li {
        &:not(:last-child) {
          margin-right: 10px;
        }

        &.active h6 {
          color: $primary-color
        }

        h6 {
          text-transform: capitalize;
        }

        &:not(.devider) h6 {
          cursor: pointer;
        }

      }

      .devider,
      li h6 {
        color: $bcbcbc-color
      }

    }
  }


}
