@import '../../../styles/variables.module.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright {
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.footer {
  border-top: 1px solid $de3e4e-color;
}
